
@charset "UTF-8";

body{
    background: radial-gradient(#7AA39E,#C3E0DD,#7AA3A0) ;
    margin: 5%;
    font-family:'Times New Roman', Times, serif

    
}
main{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10%;

}

h1, h2, h4 {
    text-align: center;
}



figure{
   display:flex;
   justify-content: center;
}

footer{
    color: #2a1d63;
    text-align: center;
}